<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@200&display=swap" rel="stylesheet">


    <title>Document</title>
</head>
<body>
    <section class="error">
            <h2 class="error__h2 animated bounce">404</h2>
            <p class="error__p">Página no encontrada</p>
            <button class="error__button">inicio</button>
    </section>
    
</body>
</html>